@use "../abstracts/mixins" ;


.adsContainer {
  margin-top: 20px;
  border-radius: 10px;
  /*  */
  overflow: hidden;

  &__track {
    display: flex;
    transition: transform 0.5s ease;
  }

  &__adCard {
    min-width: 100%;
    flex: 0 0 100%;
  }

  &__adText {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: 20%;
    
  @include mixins.goldGradient-text;

  }

  &__img {
    width: 80%;
    height: auto;
  }
  &__content-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  &__content {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: var(--adsContainer-hover-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  margin: 6% auto;
  border-radius: 10px;
  border: 1px solid var(--adsContainer-border);

  @include mixins.mobile {
            display: none;
        }

  @include mixins.tablet {
            display: none;
        }

  width: 70%;
  height: 80%;
  }

  &__btns {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__content-box:hover &__content {
    opacity: 1;

    
  }
}



  .firstLink {
    color: var(--secondaryBtn-text);
  }

  .secondLink {
    color: var(--primaryBtn-filled-text);
  }
