.selectWrapper {
  position: relative;
  display: inline-block;

  &__filterSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;

  border: 1px solid var(--accent-gold, #d4af37);
  border-radius: 8px;
  color: #fff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus {
    outline: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}



&__arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--inputArrow-color);
  font-size: 16px;
}

}
