@use "../abstracts/mixins";

.footerContacts {
    font-size: 16px;

   @include mixins.footerCard($direction: -5px 3px 5px 1px); 
}

.footerContacts h4, .footerContacts h5, .footerContacts p {
    margin: 0;
}

.companyInformation {
    color: var(--footer-contacts-information-text);
}

.companyInformation:hover {
        color: var(--footer-contacts-information-hover);
        transition: all 0.3s ease;
    }

.companyInfo {
    padding: 10px 0px;
   }